[Service]
ExecStart=/root/.nvm/versions/node/v4.2.1/bin/node /root/maotama-server/maotama.js
Restart=always
StandardOutput=syslog
StandardError=syslog
Environment=NODE_ENV=production
WorkingDirectory=/root/maotama-server

[Install]
WantedBy=multi-user.target
